body {
    font-weight: 200;
    font-family: 'Roboto', arial, sans-serif;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-screen {
    background: #1abc9c;
}

.join-screen {
    background: #c0392b;
}

.profile-screen {
    background: #c0392b;
}

#messagebox {
    width: 100%;
    position: absolute;
    padding-bottom:65px;
    padding-top: 40px;
    background: #E8E5E4;
    min-height: 100%;
}

.textbox {
	left: 0;
	right: 0;
	width: 100%;
	height: 53px;
	position: fixed;
	z-index: 1000;
	
	bottom: -1px;
	padding-bottom: 1px;

	border: 1px solid white;
	border-left-width: 0;
	border-right-width: 0;
}

.textbox .textbar {
    position: relative;
    width: 100%;
    background: #ecf0f1;
    border-top: 1px solid #d0d0d0;
    box-shadow: 0 -25px 25px #E8E5E4;
    padding-left: 10px;
    padding-right: 110px;
}

.textbox textarea {
    width: 100%;
    resize: none;
}

.textbox .btn {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 0;
    background: #1abc9c;
}

.textbox .btn:disabled {

}

.message {
    position: relative;
    width: 100%;
    padding-left: 60px;
    margin-bottom: 20px;
    min-height: 70px;
    -webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.message.male .text:before, .message.female .text:before, .message.business .text:before {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0;
    left: 0;
    background: #25a0ca;
}

.message.female .text:before {
    background: #ea4c89;
}

.message.business .text:before {
    background: orange;
}

.message.mine .text:before {
    right: 0;
    left: auto;
}

.message .text {
    margin: 10px 20px;
    background: #ffffff;
    min-height: 40px;
    padding: 10px;
    padding-left: 30px;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.message.mine .text {
    padding-left: 10px;
    padding-right: 30px;
}

.message .text .icon {
    font-size: 20px;
}

.message .avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    margin-top: -10px;
    border-radius: 50px;
    background: #333333;
    background-image: url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/623558_1341034136_1348247499_q.jpg');
}

.message .away {
    position: absolute;
    top: 57px;
    left: 11px;
    font-size: 10px;
    width: 50px;
	line-height: 10px;
    text-align: center;
}

.message.mine .away {
    display: none;
}

.message.mine {
    padding-left: 0;
    padding-right: 60px;
}

.message.mine .avatar {
    left: auto;
    right: 10px;
}

.message {
    position: absolute;
    top: -200px;
}

#messagebox .message:nth-child(odd) {
    -webkit-transition: all 1.0s cubic-bezier(0.61, 0.47, 0.33, 0.86);
    -webkit-transform: rotate(2deg);
}

#messagebox .message:nth-child(even) {
    -webkit-transition: all 1.0s cubic-bezier(0.61, 0.47, 0.33, 0.86);
    -webkit-transform: rotate(-2deg);
}

#messagebox .message.show {
    position: relative;
    top: auto;
    -webkit-transform: rotate(0deg);
}

#noone {
    -webkit-transition: all 1.0s cubic-bezier(0.61, 0.47, 0.33, 0.86);
    -webkit-transform: rotate(10deg);
    top: -10%;
}

#noone.go {
    top: 50%;
    -webkit-transform: rotate(0deg);
}

.btn {
    border: 0;
}