<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angelhack.wheresapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required by Google Maps Android API -->
    <permission
        android:name="com.angelhack.wheresapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.angelhack.wheresapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Required by Google Cloud Messaging API -->
    <permission
        android:name="com.angelhack.wheresapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.allproperty.android.consumer.sg.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Debug -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBkSK7PWomR1dyC6nkMayAf2LudiIOC5-g" />
        <!-- Release -->
        <!--
             <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDBsGb-efr0Hy3BiVhJ_90UAeLF2EQH_uQ" />
        -->

        <activity
            android:name="com.angelhack.wheresapp.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.angelhack.wheresapp.HomeActivity" >
        </activity>
        <activity
            android:name="com.angelhack.wheresapp.MessageListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.angelhack.wheresapp.MessageDetailActivity"
            android:label="@string/title_message_detail"
            android:parentActivityName=".MessageListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MessageListActivity" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.angelhack.wheresapp.ChatMapActivity"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        
        <service android:name="com.angelhack.wheresapp.http.WebSocketService"
            android:label="WebSocketService"
            android:exported="false" />
    </application>

</manifest>